@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4 {
      @apply font-bold;
    }
  }
  

  * {
    @apply font-sans;
    /* @apply font-bold; */
  }

  @layer utilities {
    @variants responsive {
      .min-w-prose {
        min-width: 65ch;
      }
      .max-width-half {
        max-width: 50%;
      }
      .max-w-series {
        max-width:500px;
      }

      .mini-series-table-desktop {
        height:280px
      }

      .mini-series-table-mobile {
        height:240px
      }


      .mini-series-tableau-desktop {
        height:200px
      }

      .mini-series-tableau-mobile {
        height:230px
      }

      .mini-series-table-desktop {
        height:280px
      }
      .alix-width {
        width:300px
      }


      /* .mini-series-half-w {
        width:50%
      }
      .mini-series-fi-w {
        width:50%
      } */
    }
  }

  .rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }